<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0018.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0019.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0020.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0021.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0022.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0023.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0024.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0025.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0026.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0027.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0028.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0029.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0030.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0031.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0032.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0033.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0034.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0035.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0036.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0037.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0038.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0039.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0040.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0041.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l05_virus/smallintestine/a0042.png</key>
			<dict>
				<key>width</key>
				<integer>346</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>1608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c02science_l05virus_smallintestine0.png</string>
			<key>realTextureFileName</key>
			<string>ani_c02science_l05virus_smallintestine0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>