<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c02_science/l06_environmental/ending/04.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c02_science/l06_environmental/ending/03.png</key>
			<dict>
				<key>width</key>
				<integer>571</integer>
				<key>height</key>
				<integer>573</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>animation/c02_science/l06_environmental/ending/02.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>573</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>animation/c02_science/l06_environmental/ending/01.png</key>
			<dict>
				<key>width</key>
				<integer>1468</integer>
				<key>height</key>
				<integer>1398</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>46</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c02science_l06environmental_ending0.png</string>
			<key>realTextureFileName</key>
			<string>ani_c02science_l06environmental_ending0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>