<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c02_science/l01_mammalia/ending/ed4.png</key>
			<dict>
				<key>width</key>
				<integer>576</integer>
				<key>height</key>
				<integer>708</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-93</real>
				<key>offsetY</key>
				<real>115</real>
			</dict>
			<key>animation/c02_science/l01_mammalia/ending/ed3.png</key>
			<dict>
				<key>width</key>
				<integer>1181</integer>
				<key>height</key>
				<integer>456</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>71</real>
			</dict>
			<key>animation/c02_science/l01_mammalia/ending/ed2.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>710</integer>
				<key>offsetX</key>
				<real>70.5</real>
				<key>offsetY</key>
				<real>104</real>
			</dict>
			<key>animation/c02_science/l01_mammalia/ending/ed1.png</key>
			<dict>
				<key>width</key>
				<integer>1209</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>79</real>
			</dict>
			<key>animation/c02_science/l01_mammalia/ending/01.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>854</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>826</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>animation/c02_science/l01_mammalia/ending/bg.png</key>
			<dict>
				<key>width</key>
				<integer>1510</integer>
				<key>height</key>
				<integer>594</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>1536</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1000</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>78</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c02science_l01mammalia_ending0.png</string>
			<key>realTextureFileName</key>
			<string>ani_c02science_l01mammalia_ending0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>