<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c01_fairy/l03_fish/shark/shark_02.PNG</key>
			<dict>
				<key>width</key>
				<integer>276</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>104.5</real>
				<key>offsetY</key>
				<real>9.75</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/shark/shark_03.PNG</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>119</real>
				<key>offsetY</key>
				<real>-119</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/ending/a01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/ending/a02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/ending/a03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/ending/a04.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-42.75</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_04.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>-30.25</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_05.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>-36.25</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_06.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-44.25</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_04.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>160.75</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_05.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>175</real>
				<key>offsetY</key>
				<real>-19.75</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_06.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>702</integer>
				<key>offsetX</key>
				<real>180.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bag/bag01.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bag/bag02.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>821</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>76.25</real>
				<key>offsetY</key>
				<real>-57.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bag/bag03.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>76.25</real>
				<key>offsetY</key>
				<real>-57.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bag/bag04.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>430</integer>
				<key>offsetX</key>
				<real>76.25</real>
				<key>offsetY</key>
				<real>-57.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bag/bag05.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>821</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>76.25</real>
				<key>offsetY</key>
				<real>-57.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bat/bat01.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>915</integer>
				<key>offsetX</key>
				<real>71</real>
				<key>offsetY</key>
				<real>-27.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bat/bat03.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>12.25</real>
				<key>offsetY</key>
				<real>-4.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bat/bat04.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/bat/bat05.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>544</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>-35.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box01.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>430</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-102</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box02.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>60.75</real>
				<key>offsetY</key>
				<real>-123.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box03.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>35.25</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box04.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>599</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box05.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>836</integer>
				<key>offsetX</key>
				<real>24.75</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/box/box09.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>216</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>71.25</real>
				<key>offsetY</key>
				<real>-151.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile01.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1021</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-50.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile02.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>955</integer>
				<key>y</key>
				<integer>228</integer>
				<key>offsetX</key>
				<real>43.25</real>
				<key>offsetY</key>
				<real>-150.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile03.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>439</integer>
				<key>offsetX</key>
				<real>43.25</real>
				<key>offsetY</key>
				<real>-55.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile04.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1313</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>43.25</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile05.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1133</integer>
				<key>y</key>
				<integer>228</integer>
				<key>offsetX</key>
				<real>43.25</real>
				<key>offsetY</key>
				<real>-82.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/crocodile/crocodile06.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>825</integer>
				<key>offsetX</key>
				<real>43.25</real>
				<key>offsetY</key>
				<real>-88</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0001.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0002.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1032</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0003.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>592</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0004.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0005.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1313</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0006.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1032</integer>
				<key>y</key>
				<integer>480</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0007.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>363</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0008.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0009.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0010.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1311</integer>
				<key>y</key>
				<integer>264</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0011.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0012.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1032</integer>
				<key>y</key>
				<integer>561</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0013.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>803</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0014.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1605</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0015.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1427</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0016.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1260</integer>
				<key>y</key>
				<integer>363</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0017.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0018.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>884</integer>
				<key>offsetX</key>
				<real>532.25</real>
				<key>offsetY</key>
				<real>-438.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0019.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>525</integer>
				<key>offsetX</key>
				<real>518</real>
				<key>offsetY</key>
				<real>-396.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0020.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1005</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>518</real>
				<key>offsetY</key>
				<real>-396.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0021.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1605</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>518</real>
				<key>offsetY</key>
				<real>-396.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0022.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1425</integer>
				<key>y</key>
				<integer>264</integer>
				<key>offsetX</key>
				<real>517.75</real>
				<key>offsetY</key>
				<real>-396.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0023.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>884</integer>
				<key>y</key>
				<integer>835</integer>
				<key>offsetX</key>
				<real>517.75</real>
				<key>offsetY</key>
				<real>-396.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0024.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1129</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0025.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0026.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1270</integer>
				<key>y</key>
				<integer>444</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0027.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0028.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1270</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0029.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0030.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0031.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1828</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0032.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0033.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1369</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0034.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1007</integer>
				<key>y</key>
				<integer>751</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0035.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1007</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0036.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>751</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0037.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1228</integer>
				<key>y</key>
				<integer>636</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0038.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1647</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0039.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1828</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0040.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1927</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0041.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1473</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0042.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1369</integer>
				<key>y</key>
				<integer>564</integer>
				<key>offsetX</key>
				<real>505.75</real>
				<key>offsetY</key>
				<real>-390.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0043.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1647</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>403</real>
				<key>offsetY</key>
				<real>-346</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0044.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1468</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>352</real>
				<key>offsetY</key>
				<real>-277.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0045.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1205</integer>
				<key>y</key>
				<integer>738</integer>
				<key>offsetX</key>
				<real>301</real>
				<key>offsetY</key>
				<real>-209.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0046.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1468</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>260.25</real>
				<key>offsetY</key>
				<real>-143.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0047.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1023</integer>
				<key>offsetX</key>
				<real>220</real>
				<key>offsetY</key>
				<real>-77.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0048.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1348</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0049.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>1023</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0050.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>1400</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0051.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>965</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0052.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>1342</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0053.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0054.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>1335</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0055.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>921</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0056.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>1298</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/knife/knife01.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1725</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/knife/knife02.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>1725</integer>
				<key>offsetX</key>
				<real>106</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/knife/knife03.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>1815</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>106</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/knife/knife04.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>302</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>1839</integer>
				<key>offsetX</key>
				<real>106</real>
				<key>offsetY</key>
				<real>-38.25</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/snake/snake01.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>1815</integer>
				<key>y</key>
				<integer>306</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/snake/snake02.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>45.25</real>
				<key>offsetY</key>
				<real>-21.25</real>
			</dict>
			<key>publish/ui/c01_fairy/l01_duck/player.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>1670</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/c01_fairy/l01_duck/player.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>1777</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/c01_fairy/l02_sleep/player.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>556</integer>
				<key>y</key>
				<integer>1777</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/c01_fairy/l03_fish/player.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>1670</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/c01_fairy/l04_radish/flower.PNG</key>
			<dict>
				<key>width</key>
				<integer>744</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>744</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>848</integer>
				<key>y</key>
				<integer>1719</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/c01_fairy/l04_radish/player.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>1874</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c01fairy_l05aladin_ending2.png</string>
			<key>realTextureFileName</key>
			<string>ani_c01fairy_l05aladin_ending2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>