<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c01_fairy/l02_sleep/ending/008.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>596</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-253.25</real>
				<key>offsetY</key>
				<real>-257.25</real>
			</dict>
			<key>animation/c01_fairy/l02_sleep/ending/009.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>596</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>519</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-253.25</real>
				<key>offsetY</key>
				<real>-257.25</real>
			</dict>
			<key>animation/c01_fairy/l02_sleep/ending/010.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>596</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>1038</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-253.25</real>
				<key>offsetY</key>
				<real>-257.25</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0022.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>73.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0023.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>68.25</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0024.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>62.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0025.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>61</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0026.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>530</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>59.75</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0027.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>527</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>58.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0028.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>57.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0029.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0030.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0031.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1047</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0032.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0033.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1038</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0034.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1300</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0035.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0036.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1291</integer>
				<key>y</key>
				<integer>775</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0037.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.75</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0038.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1553</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.75</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0039.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>936</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0040.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1112</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0041.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0042.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1288</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0043.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>1128</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0044.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0045.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1464</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0046.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>1304</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0047.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>1128</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0048.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1640</integer>
				<key>offsetX</key>
				<real>44.75</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0049.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>759</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0050.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>1304</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0051.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1816</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0052.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>952</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0053.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>261</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0054.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>1481</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0055.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>788</integer>
				<key>y</key>
				<integer>1129</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0056.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>1658</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0057.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0058.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1070</integer>
				<key>y</key>
				<integer>1129</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0059.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>1658</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0060.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1310</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0061.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>825</integer>
				<key>y</key>
				<integer>1306</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0062.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0063.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1107</integer>
				<key>y</key>
				<integer>1306</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0064.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>1128</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0065.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>1483</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0066.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>1660</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0067.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1592</integer>
				<key>y</key>
				<integer>883</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0068.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1128</integer>
				<key>y</key>
				<integer>1483</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0069.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>1837</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0070.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>1305</integer>
				<key>offsetX</key>
				<real>20.25</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/numbfish/numbfish_01.PNG</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-122.25</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/numbfish/numbfish_02.PNG</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>16.25</real>
				<key>offsetY</key>
				<real>-105</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/numbfish/numbfish_03.PNG</key>
			<dict>
				<key>width</key>
				<integer>371</integer>
				<key>height</key>
				<integer>278</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1128</integer>
				<key>y</key>
				<integer>1660</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-37.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/numbfish/numbfish_04.PNG</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1671</integer>
				<key>y</key>
				<integer>1060</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-36.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_02.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>-160.5</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_03.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1806</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>62.75</real>
				<key>offsetY</key>
				<real>-106</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_04.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1671</integer>
				<key>y</key>
				<integer>1338</integer>
				<key>offsetX</key>
				<real>53.75</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_05.png</key>
			<dict>
				<key>width</key>
				<integer>244</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1410</integer>
				<key>y</key>
				<integer>1482</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>-106</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_06.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>63</real>
				<key>offsetY</key>
				<real>-158</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/puffer/puffer_07.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>144</real>
				<key>offsetY</key>
				<real>-158</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/shark/shark_01.PNG</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>1501</integer>
				<key>y</key>
				<integer>1647</integer>
				<key>offsetX</key>
				<real>107.5</real>
				<key>offsetY</key>
				<real>46.75</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/shark/shark_04.PNG</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>1785</integer>
				<key>y</key>
				<integer>1605</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-152.25</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/shark/shark_05.PNG</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>429</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>1785</integer>
				<key>y</key>
				<integer>1808</integer>
				<key>offsetX</key>
				<real>183.25</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/eggplant/eggplant_01.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1940</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>159.75</real>
				<key>offsetY</key>
				<real>-91.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/eggplant/eggplant_03.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1810</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>158</real>
				<key>offsetY</key>
				<real>-124.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/eggplant/eggplant_04.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1874</integer>
				<key>y</key>
				<integer>871</integer>
				<key>offsetX</key>
				<real>164</real>
				<key>offsetY</key>
				<real>0.75</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/eggplant/eggplant_05.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1128</integer>
				<key>y</key>
				<integer>1940</integer>
				<key>offsetX</key>
				<real>170.25</real>
				<key>offsetY</key>
				<real>-124.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/eggplant/eggplant_06.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>1940</integer>
				<key>offsetX</key>
				<real>166.75</real>
				<key>offsetY</key>
				<real>-120.75</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_01.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1353</integer>
				<key>y</key>
				<integer>1940</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_02.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1501</integer>
				<key>y</key>
				<integer>1878</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>-65.25</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/pumpkin/pumpkin_03.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>1489</integer>
				<key>y</key>
				<integer>1959</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>-65.25</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_01.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1640</integer>
				<key>y</key>
				<integer>1878</integer>
				<key>offsetX</key>
				<real>169.25</real>
				<key>offsetY</key>
				<real>-51.25</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_02.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1902</integer>
				<key>y</key>
				<integer>632</integer>
				<key>offsetX</key>
				<real>171.5</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>animation/c01_fairy/l04_radish/watermelon/watermelon_03.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1628</integer>
				<key>y</key>
				<integer>1959</integer>
				<key>offsetX</key>
				<real>171.5</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c01fairy_l05aladin_ending1.png</string>
			<key>realTextureFileName</key>
			<string>ani_c01fairy_l05aladin_ending1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>