<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_5.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_6.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_1.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_2.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_3.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l01_duck/snake/snake_4.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>394</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>627</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c01fairy_l01duck_snake0.png</string>
			<key>realTextureFileName</key>
			<string>ani_c01fairy_l01duck_snake0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>