<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>commons/bg.png</key>
			<dict>
				<key>width</key>
				<integer>1365</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1365</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/duck.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1367</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/duck_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/mermaid.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1801</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/mermaid_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/pinocchio.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/pinocchio_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/enormous.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/enormous_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/sleep.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1085</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/sleep_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/aladin.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1519</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_fairy/aladin_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1736</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/mammalia.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/mammalia_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/solar.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/solar_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/visual.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/visual_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1085</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/dinosaur.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/dinosaur_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1519</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/virus.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1736</integer>
				<key>y</key>
				<integer>987</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/virus_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/environmental.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>217</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/m_science/environmental_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/pay/ban.png</key>
			<dict>
				<key>width</key>
				<integer>891</integer>
				<key>height</key>
				<integer>644</integer>
				<key>originalWidth</key>
				<integer>891</integer>
				<key>originalHeight</key>
				<integer>644</integer>
				<key>x</key>
				<integer>651</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ui/main/pay/fai_sleep_01.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1850</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_main1.png</string>
			<key>realTextureFileName</key>
			<string>ui_main1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>