<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0067.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0068.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0069.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0070.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0071.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0072.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0073.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0074.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0075.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0076.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0077.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0078.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1131</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0079.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0080.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1508</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0081.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>1131</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0082.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0083.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>1508</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0084.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>1131</integer>
				<key>offsetX</key>
				<real>177</real>
				<key>offsetY</key>
				<real>-12.75</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0085.png</key>
			<dict>
				<key>width</key>
				<integer>505</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1188</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>9.75</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0086.png</key>
			<dict>
				<key>width</key>
				<integer>508</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>1508</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0087.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>1140</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l05_aladin/ending/ending0088.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>1526</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c01fairy_l05aladin_ending1.png</string>
			<key>realTextureFileName</key>
			<string>ani_c01fairy_l05aladin_ending1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>