<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/c01_fairy/l03_fish/ending/a0001.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0002.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0003.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0004.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0005.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>1234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0006.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>1234</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0007.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0008.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0009.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0010.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0011.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0012.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>1234</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0013.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>617</integer>
				<key>y</key>
				<integer>1604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0014.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>1234</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>animation/c01_fairy/l03_fish/ending/a0015.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>399</integer>
				<key>x</key>
				<integer>1234</integer>
				<key>y</key>
				<integer>1604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ani_c01fairy_l03fish_ending0.png</string>
			<key>realTextureFileName</key>
			<string>ani_c01fairy_l03fish_ending0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>